@import url('https://fonts.googleapis.com/css2?family=Suwannaphum:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

/* font-family: 'Suwannaphum', serif; */
/* font-family: 'Poppins', sans-serif; */

:root {
    --main-color:#1B273D;
    --light-green:#007B80;
    --purple-color:#3D246C
}

* {
    box-sizing: border-box;
}

a {
    text-decoration:none;
    color: #fff !important;
}

img {
    max-width: 100%;
}

body{
    padding: 0px;
    margin: 0px;
}

/* start header style */

header {
    background:var(--main-color);
    
}

nav {
    color: #fff !important;
}

header .log-in {
    background: var(--light-green);
    padding: 10px 20px;
    border-radius: 10px;
    margin: 0 10px;
    border: 1px solid var(--light-green);
}


header .sign-up {
    border: 1px solid #fff;
    padding: 10px 18px;
    border-radius: 10px;
}

header .log-in:hover{
    background:#13b0b6;
}

/* .navbar-toggler {
    background:#fff
} */